@use 'base/variables' as v;

.citas {
    list-style: none;
    padding: 0;

    li {
        border-top: 1px solid v.$gris;

        p {
            color: v.$azul;
            font-weight: v.$bold;

        }

        span {
            font-weight: v.$regular;
            color: v.$blanco;
        }
    }
}
.precio-total {
    display: flex;
    justify-content: flex-end;
    color: v.$azul;
    font-weight: v.$bold;

    span {
        color: v.$blanco;
        margin-left: 1rem;
    }
}

.servicios {
    @extend .citas;

    .acciones {
        margin: 0 0 1rem 0;
    }
    .boton,
    .boton-eliminar {
        margin: 0;
    }
}
.form {
    display: flex;
}