@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {
    @include m.minimo {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    }
    button {
    margin: 0 0 1rem 0 ;
    }
   
    
}
.ocultar {
    visibility: hidden;
}